@import '~bootstrap/scss/bootstrap';

body{
  font-family:Poiret One ;
  background-color: rgba(241, 243, 249, 1);
}

.card{
  background-color: rgb(115, 157, 189);
}

.startHidden{
  display:none
}

.nav-item{
  
  color:rgb(42, 34, 87);
  text-align: center;
}

.my-nav{
  background-color: rgba(155, 212, 165, 1);
}

.pageSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-fluid {
    padding-left:0px;
    padding-right:0px
}

#landing-banner{
  font-family:Tangerine;
  color: black;
  font-size: 100 px;
}
#landing-photo-date{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#schedule-chart{
  background-color: rgb(213, 205, 192);
}
.gridspacer{
  min-height: 4rem;
}
.headerspacer{
  min-height: 4rem;
}
.picspacer{
  min-height: 2rem;
}